<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.xzsyr.core.dao.UserInfoMapper">  
    <select id="findByUsername" parameterType="java.lang.String" resultType="com.xzsyr.core.entity.UserInfo">
		 select *from craft_core_user u where u.username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>